<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userDao" class="com.krxk.minispring.test.beans.UserDao" />
    <bean id="userService" class="com.krxk.minispring.test.beans.UserService">
        <property name="uid" value="1"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>